* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #E7E7E7;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    background: linear-gradient(100deg, rgba(195, 143, 211, 0.573) 0% ,rgba(209, 144, 161, 0.479) 100%);
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 19px;
    border-radius: 19px;
    border-bottom: 10px rgba(177, 78, 169, 0.47) solid;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #871b9688;
    padding: 8px;
    border-radius: 10px;
}

form button {
    background-color: #09d84eb2;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #3f3737;
    font-size: 24px;
    padding: 16px;
    font-weight: bold;
    color: rgb(74, 79, 80);
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table td img {
    width: 30px;
}

.resultado {
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
}

.aprovado {
    background-color: #009432;
    color: #fff;
}

.reprovado {
    background-color: red;
    color: #fff;
}